<a href="https://colab.research.google.com/github/JSJeong-me/Irostyle/blob/main/5_date_list_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#!pip install -U pandas-profiling==3.1.0

In [2]:
#import pandas_profiling

In [3]:
import os

In [4]:
import pandas as pd

In [5]:
data = pd.read_excel('feets-old.xlsx', header=[0, 1],  )

In [6]:
# data.columns

In [7]:
# data.iloc[:, 0]

In [8]:
entries = data.iloc[:, 0].tolist()

In [9]:
len(entries)

2823

In [10]:
new_str = []

In [11]:
for date in entries:
  tmp = date
  # print(tmp[14:26])
  new_str.append(tmp[14:26])

In [12]:
new_str.sort()

In [13]:
len(new_str)

2823

In [14]:
new_str = new_str[17:-26]

In [20]:
date_str = []

In [24]:
for date in new_str:
  tmp = '{2}/{1}/{0} {3}:{4}:{5}'.format(new_str[14:16], new_str[16:18], new_str[18:20], new_str[20:22], new_str[22:24], new_str[24:26])
  # print(tmp[14:26])
  date_str.append(tmp)

In [15]:
# new_str[-26:-1]

In [25]:
df_date = pd.DataFrame(date_str)

In [26]:
df_date.tail()

                                                      0
2775  ['200201122446', '200201151900']/['20013017334...
2776  ['200201122446', '200201151900']/['20013017334...
2777  ['200201122446', '200201151900']/['20013017334...
2778  ['200201122446', '200201151900']/['20013017334...
2779  ['200201122446', '200201151900']/['20013017334...

In [18]:
df_date.to_excel('foots.xlsx')