<a href="https://colab.research.google.com/github/JSJeong-me/Irostyle/blob/main/phone_number.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('file3.xlsx')

In [4]:
df.columns

Index(['Unnamed: 0', 0, 1, 2, 3, 4, 5, 6], dtype='object')

In [5]:
df.index

RangeIndex(start=0, stop=60, step=1)

In [3]:
df.head()

,Unnamed: 0,0,1,2,3,4,5,6
0,0,작성일,작성자,중요,상품명,NaN,내용,작성자 아이피
1,1,2020-01-04 14:56:14,irostyle,NaN,NaN,[환불완료],NaN,211.192.238.233
2,2,NaN,(이로스타일),NaN,NaN,NaN,NaN,NaN
3,3,2020-01-04 14:56:05,irostyle,NaN,NaN,[반품접수 - 기타],NaN,211.192.238.233
4,4,NaN,(이로스타일),NaN,NaN,대여반납,NaN,NaN

In [5]:
import re

In [7]:
tele_num_space_paren_dash = '123-4565-7890'
p = '\d{3}\-?\d{4}-?\d{4}'
m = re.match(pattern = p, string=tele_num_space_paren_dash)
print(m)

<re.Match object; span=(0, 13), match='123-4565-7890'>